/*MOBILE PHONE VIEWPORT*/
@media only screen and (max-width: 500px) 
{
	body
	{
		background-color: rgba(107,107,107,1);
	}

	#break, #break2, #menu_divider, #menu_navigation .divider, #menu_navigation li
	{
		display: none;
	}

	#menu_break, #menu_navigation.responsive li, #menu_navigation.responsive #menu_word
	{
		display: block;
	}

	#menu_navigation li.icon
	{
		display: block;
		float: left;
	}

	#menu_navigation li.icon a
	{
		color: white;
		font-size: 120%;
		font-family: "Tahoma";
		text-decoration: none;
	}

  	#menu_navigation.responsive li a 
  	{
  		margin-left: 10%;
    	color: white;
		font-size: 80%;
		font-family: "Tahoma";
		text-decoration: none;
  	}

  	#menu_navigation.responsive li.icon a
	{
		color: white;
		font-size: 120%;
		font-family: "Tahoma";
		text-decoration: none;
	}

  	#menu_navigation.responsive li a:hover
	{
		background-color: #555;
	}

	#menu_navigation.responsive .divider
	{
		display: block;
		margin-right: 60%;
	}

	#profile_picture
	{
		position: relative;
		z-index: 10;
		left: 25%;
		border-radius: 40%;
		max-width: 50%;
		max-height: 40%;
		min-width: 30%;
		min-height: 20%;
	}

	#name
	{
		font-family:"Tahoma";
		color: white;
		font-size: 130%;
		text-align: center;
	}

	#tagline
	{
		font-family:"Tahoma";
		color:white;
		font-size:100%;
		text-align: center;
	}

	#email_logo, #github_logo, #linkedin_logo
	{
		float: left;
	}

	#email_logo, #github_logo, #linkedin_logo, #resume_logo
	{
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-bottom: 3%;
	}

	#email_logo
	{
		margin-left: 25%;
	}

	#header_section, #about_section, #experience_section, #project_section
	{
		background-color: rgba(81,97,129,1);
		font-family: "Tahoma";
		border-style: solid;
	}

	#about_section, #experience_section, #project_section
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	#about_section
	{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#experience_section
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#project_section
	{
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.section_title
	{
		position: absolute;
		z-index: 200;
		font-family: "Tahoma";
		color: white;
		font-size: 100%;
		margin-top: -25px;
	}

	.divider
	{
		display: block;
		margin-left: 10%;
	}

	#scroll 
	{
	    position: fixed;
	    z-index: 1000;
	    right: 10px;
	    bottom: 10px;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    background-color: #3498db;
	    text-indent: -9999px;
	    display: none;
	    -webkit-border-radius: 60px;
	    -moz-border-radius: 60px;
	    border-radius: 60px;
	}

	#scroll span 
	{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -8px;
	    margin-top: -12px;
	    height: 0;
	    width: 0;
	    border: 8px solid transparent;
	    border-bottom-color: #ffffff
	}

	.experience_bullet
	{
		text-align: center;
	}

	#uci_logo, #giac_logo
	{
		position: relative;
		left: 42%;
	}

	.project_divider
	{
		margin: 0 auto;
		width: 80%;
	}

	#openkitchenimage
	{
		position: relative;
		z-index: 10;
		left: 15%;
		max-width: 70%;
		max-height: 70%;
		min-width: 60%;
		min-height: 60%;
		margin-bottom: 2%;	
	}

	.ai_image
	{
		position: relative;
		z-index: 10;
		left: 18%;
		max-width: 60%;
		max-height: 60%;
		min-width: 50%;
		min-height: 50%;
	}

	#bio
	{
		margin: 5%;
	}

	.project_bullet
	{
		width: 55%;
		margin: 0 auto;
	}

	.projecttitle_bullet, .si th
	{
		text-align: center;
	}

}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*TABLET VIEWPORT*/
@media only screen and (min-width:500.1px) and (max-width: 800px)
{
	body
	{
		background-color: rgba(107,107,107,1);
	}

	.section_title
	{
		position: absolute;
		z-index: 200;
		color: white;
		font-size: 200%;
		margin-top: -50px;
	}

	#name, #tagline
	{
		font-family:"Tahoma";
		color: white;
		text-align: center;
	}

	#name
	{
		margin-top: 170px;
	}

	#header_section, #about_section, #experience_section, #project_section
	{
		width: 80%;
		background-color: rgba(81,97,129,1);
		border-style: solid;
		font-family: "Tahoma";
		margin-left: auto;
		margin-right: auto;
	}

	#header_section
	{
		position: relative;
		margin-top: -23%;
		margin-bottom: 9%;
	}

	#about_section
	{
		float: left;
		margin-left: 10%;
	}

	#about_section #bio
	{
		color: white;
		font-size: 120%;
		padding: 5px;
	}

	#experience_section
	{
		position: relative;
		margin-top: 490px;
	}

	#project_section
	{
		position: relative;
		margin-top: 75px;
		margin-bottom: 5%;
	}

	#menu_navigation
	{
		list-style-type: none;
		overflow: hidden;
		float: right;
		margin-right: 29%;
	}

	#menu_navigation li
	{
		float: left;
	}

	#menu_navigation li a:hover
	{
		background-color: #555;
	}

	#menu_navigation li a
	{
		color: white;
		font-size: 90%;
		font-family: "Tahoma";
		text-align: center;
		padding: 15px;
		text-decoration: none;
		transition: 1s;
	}

	#menu_navigation li.icon
	{
		display: none;
	}

	#profile_picture
	{
		position: relative;
		z-index: 10;
		left: 25%;
		border-radius: 40%;
		max-width: 50%;
		max-height: 40%;
		min-width: 50%;
		min-height: 40%;
	}

	#menu_divider
	{
		width: 300px;
		float:right;
		margin-top: -15px;
		margin-right: 28%;
	}

	.divider
	{
		display: none;
	}

	#menu_break
	{
		display: none;
	}

	#email_logo
	{
		float: left;
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-left: 25%;
		margin-bottom: 3%;
	}

	#github_logo
	{
		float: left;
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-bottom: 3%;
		animation-delay: 0.2s;
	}

	#linkedin_logo
	{
		float: left;
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-bottom: 3%;
		animation-delay: 0.5s;
	}

	#resume_logo
	{
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-bottom: 3%;
		animation-delay: 0.8s;
	}

	#scroll 
	{
	    position: fixed;
	    z-index: 1000;
	    right: 10px;
	    bottom: 10px;
	    cursor: pointer;
	    width: 50px;
	    height: 50px;
	    background-color: #3498db;
	    text-indent: -9999px;
	    display: none;
	    -webkit-border-radius: 60px;
	    -moz-border-radius: 60px;
	    border-radius: 60px;
	}

	#scroll span 
	{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -8px;
	    margin-top: -12px;
	    height: 0;
	    width: 0;
	    border: 8px solid transparent;
	    border-bottom-color: #ffffff
	}

	.experience_bullet
	{
		margin-left: 1%;
		line-height: 5%;
	}

	#giac_logo, #uci_logo
	{
		position: relative;
		z-index: 100;
		margin-left: 2%;
	}

	.projecttitle_bullet
	{
		text-align: center;
	}

	.project_bullet
	{
		width: 55%;
		margin: 0 auto;
	}

	.ai_image
	{
		position: relative;
		z-index: 10;
		left: 28%;
		max-width: 20%;
		max-height: 20%;
		min-width: 10%;
		min-height: 10%;
	}

	#ai1, #ai2
	{
		margin-bottom: 2%;
	}

	#ai2
	{
		margin-left: 2%;
	}

	#openkitchenimage
	{
		position: relative;
		z-index: 10;
		left: 30%;
		max-width: 40%;
		max-height: 40%;
		min-width: 20%;
		min-height: 20%;
		margin-bottom: 2%;	
	}

	.project_divider
	{
		margin: 0 auto;
		width: 80%;
	}

}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*DESKTOP VIEWPORT*/
@media only screen and (min-width: 800px)
{
	body
	{
		background-color: rgba(107,107,107,1);
	}

	.section_title
	{
		position: absolute;
		z-index: 200;
		color: white;
		font-size: 200%;
		margin-top: -50px;
	}

	#name
	{
		margin-top: 170px;
	}

	#name, #tagline
	{
		font-family:"Tahoma";
		color: white;
		text-align: center;
	}

	#header_section, #about_section, #experience_section, #project_section
	{
		font-family: "Tahoma";
		background-color: rgba(81,97,129,1);
		border-style: solid;
	}

	#header_section
	{
		width: 80%;
		position: relative;
		margin-top: -10%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 9%;
	}

	#about_section
	{
		width: 80%;
		float: left;
		margin-left: 10%;
	}

	#about_section #bio
	{
		color: white;
		font-size: 120%;
		padding: 5px;
	}

	#experience_section
	{
		width: 80%;
		position: relative;
		margin-top: 420px;
		margin-left: auto;
		margin-right: auto;
	}

	#project_section
	{
		width: 80%;
		position: relative;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
	}

	#menu_navigation
	{
		list-style-type: none;
		overflow: hidden;
		float: right;
	}

	#menu_navigation li
	{
		float: left;
	}

	#menu_navigation li a:hover
	{
		background-color: #555;
	}

	#menu_navigation li a
	{
		color: white;
		font-size: 120%;
		font-family: "Tahoma";
		text-align: center;
		padding: 15px;
		text-decoration: none;
		transition: 1s;
	}

	#menu_navigation li.icon, .divider, #menu_break
	{
		display: none;
	}

	#profile_picture
	{
		position: relative;
		z-index: 10;
		left: 40%;
		border-radius: 40%;
		max-width: 20%;
		max-height: 15%;
		min-width: 15%;
		min-height: 10%;
	}

	#menu_divider
	{
		width: 340px;
		float:right;
		margin-top: -15px;
		margin-right: 10px;
	}

	#email_logo, #github_logo, #linkedin_logo
	{
		float: left;
	}

	#email_logo, #github_logo, #linkedin_logo, #resume_logo
	{
		height: 5%;
		width: 5%;
		margin-right: 10%;
		margin-bottom: 3%;
	}

	#email_logo
	{
		margin-left: 25%;
	}

	#github_logo
	{
		animation-delay: 0.2s;
	}

	#linkedin_logo
	{
		animation-delay: 0.5s;
	}

	#resume_logo
	{
		animation-delay: 0.8s;
	}

	#skill, #interest
	{
		white-space: nowrap;
		float: left;
		font-family: "Tahoma";
		font-size: 120%;
	}

	#scroll 
	{
	    position:fixed;
	    right:10px;
	    bottom:10px;
	    cursor:pointer;
	    width:50px;
	    height:50px;
	    background-color:#3498db;
	    text-indent:-9999px;
	    display:none;
	    -webkit-border-radius:60px;
	    -moz-border-radius:60px;
	    border-radius:60px;
	}

	#scroll span 
	{
	    position:absolute;
	    top:50%;
	    left:50%;
	    margin-left:-8px;
	    margin-top:-12px;
	    height:0;
	    width:0;
	    border:8px solid transparent;
	    border-bottom-color:#ffffff
	}

	.experience_bullet
	{
		margin-left: 1%;
		line-height: 5%;
	}

	#giac_logo, #uci_logo
	{
		position: absolute;
		z-index: 100;
	}

	#giac_logo
	{
		margin-left: 400px;
		margin-top: -2%;
	}

	#uci_logo
	{
		margin-left: 340px;
		margin-top: -3%;
	}

	.projecttitle_bullet
	{
		text-align: center;
	}

	.project_bullet
	{
		width: 55%;
		margin: 0 auto;
	}

	.ai_image
	{
		position: relative;
		z-index: 10;
		left: 28%;
		max-width: 20%;
		max-height: 20%;
		min-width: 10%;
		min-height: 10%;
	}

	#ai1, #ai2
	{
		margin-bottom: 2%;
	}

	#ai2
	{
		margin-left: 2%;
	}

	#openkitchenimage
	{
		position: relative;
		z-index: 10;
		left: 30%;
		max-width: 40%;
		max-height: 40%;
		min-width: 20%;
		min-height: 20%;
		margin-bottom: 2%;	
	}

	.project_divider
	{
		margin: 0 auto;
		width: 80%;
	}

}
